.user-bar {
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.mt-8 {
  margin-top: 2rem;
}

.userlist-h5 {
  margin: 3rem 0;
}