@import "../../../scss/lan-variables";

// Post image
.post-image {
  position: relative;
  height: 80px;
  width: 80px;
  margin: 4px;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.1s;
}

.post-actual-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.post-image:hover {
  box-shadow: $lan-small-icon-box-shadow;
}
.post-image:active {
  scale: 0.9;
}
