.lan-label {
  margin: 1rem 0 1rem 0;
  overflow-wrap: break-word;
  word-break: break-all;
}

.apply-btn {
  display: flex;
  margin-top: 2.5rem;
  margin-left: auto;
  align-self: center;
  margin-right: auto;
}

.lan-label {
  margin: 1rem 0 1rem 0;
  overflow-wrap: break-word;
  word-break: break-all;
}

.display-flax {
  display: flex;
  flex-direction: column;
}

.switch-btn {
  width: max-content;
}

.color-green {
  color: #2a8e85;
}

.color-red {
  color: red;
}